.Banner {
  text-align: center;
}

.Banner-header {
  background: #323232;
  min-height: 16vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #3880a6;
}

.logo-image {
	float: left;
	height: 15vh;
	flex-direction: column;
 	 align-items: center;
  	justify-content: center;
}