.Main {
  text-align: left;
}

.Main-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #3880a6;
  padding-left: 50px;
}