.Nav-Item {
	color: #000000;
	border-style: solid none none none;
	border-width: 1px;
	border-color: #1CB5E0;
	width: 100vw;
	text-decoration: none;
}

ul#navul {
	list-style-type: none;
	padding-left: 0pt;
	text-decoration: none;
}